page-listacontacto {

    img{
        margin: auto !important;
        display: block !important;
        width: 128px; 
        height: 128px;
      }

    button{
        margin: auto !important;
        display: block !important;
      }
}
